.banner-grid {
  .row-adjustment {
    margin: 0 -15px;
  }
  :global [class^="col-"] {
    .container {
      height: 100%;
    }
    .tile.container {
      padding: 0 0 1rem 0 !important;
    }
    [class*="_card"],
    [class*="_banner"],
    [class*="_tile"] {
      [class*="bjsHeadlineSmall"],
      [class*="bjsHeadlineMedium"],
      [class*="bjsHeadlineLarge"] {
        margin: 4px 0;
      }
    }
  }
  :global .col-6 {
    @media screen and (max-width: 374px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
