.banner-grid {
  :global [class^="col-"] {
    .container {
      height: 100%;
    }
    .tile.container {
      padding: 0 !important;
    }
    [class*="_card"],
    [class*="_banner"],
    [class*="_tile"] {
      [class*="bjsHeadlineSmall"],
      [class*="bjsHeadlineMedium"],
      [class*="bjsHeadlineLarge"] {
        margin: 4px 0;
      }
    }
  }
  :global .col-6 {
    @media screen and (max-width: 374px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  :global .col-5c {
    flex: 0 0 20%;
    max-width: 20%;
  }
  @media screen and (max-width: 575px) {
    :global .col-xs-5c {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  @media screen and (min-width: 576px) {
    :global .col-sm-5c {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  @media screen and (min-width: 768px) {
    :global .col-md-5c {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  @media screen and (min-width: 992px) {
    :global .col-lg-5c {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  @media screen and (min-width: 1200px) {
    :global .col-xl-5c {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}
