a {
  :global {
    .btn {
      box-shadow: none;
      font-size: 14px;
      line-height: 1;
      padding: 9px 20px;
      border-radius: 4px;
    }
    .btn-primary {
      background: var(--bjsRed);
      color: #fff;
      border: none;
    }
    .btn-secondary {
      background-color: #fff;
      color: var(--bjsRed);
      border-color: var(--bjsRed);
    }

    .btn-primary:hover,
    a:hover .btn-primary {
      background: var(--bjsRedHover);
    }
    .btn-secondary:hover,
    a:hover .btn-secondary {
      background-color: #f1f1f1;
      color: var(--bjsRedHover);
      border-color: var(--bjsRedHover);
    }
  }

  .link {
    color: var(--bjsRed);
    transition: var(--transitionLinear);
    font-size: 20px;
    line-height: 25px;

    &:hover {
      color: var(--bjsRedHover);
    }
  }
  &:hover {
    .link {
      color: var(--bjsRedHover);
      text-decoration: underline;
    }
  }
}
