.card {
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
  transition: var(--transitionLinear);
  font-size: 16px;

  .card-image-cont {
    width: fit-content;
  }

  .card-text-cont {
    color: #000;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
  }
}

.rounded {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
