.tile {
  background: none;
  color: #000;

  .tile-image-cont,
  h3 {
    transition: var(--transitionLinear);
  }

  .tile-image-cont {
    overflow: hidden;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
  }
  .tile-image-cont.tile-icon {
    box-shadow: none;
  }

  h3 {
    font-size: 20px;
  }

  .tile-text-cont {
    text-decoration: none;
    transition: var(--transitionLinear);
  }

  .icon {
    height: 40px;
    width: 40px;
    max-width: 40px;
    margin: 0 auto;
  }

  .rounded {
    border-radius: 10px;
    overflow: hidden;
  }

  .circular {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  .shadow {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    .tile-image-cont {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
    }
    .tile-image-cont.tile-icon {
      box-shadow: none;
    }
    h3 {
      text-decoration: underline;
      color: var(--bjsRedHover);
    }
  }
}

.tile-text-cont {
  text-decoration: none;
  color: #000;

  p {
    margin-bottom: 0.25rem;
  }

  a {
    transition: var(--transitionLinear);
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: var(--bjsRedHover);
    }
  }
}
