:root {
  --bjsRed: #cc0033;
  --bjsRedHover: #a7002a;
  --bjsBlack: #000;
  --bjsGrayBlack: #303030;
  --bjsWhite: #fff;
  --transitionLength: 0.1s;
  --transitionLinear: var(--transitionLength) linear;
  --transitionEaseIn: var(--transitionLength) ease-in;
  --plShadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
  --staticShadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  --hoverShadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
}

.App {
  text-align: center;
}

.App-logo {
  height: 80%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
