.imgwrap {
  width: 100%;
  height: 100%;

  .imgfit {
    height: 100%;
    object-fit: cover;
  }

  $imgfitOps: (center, top, bottom, right, left);

  @each $imgfitOps-key in $imgfitOps {
    .imgfit-#{$imgfitOps-key} {
      object-position: $imgfitOps-key;
    }
  }
}

.icon {
  height: 40px;
  width: 40px;
}

a {
  .icon {
    transform: scale(1);
    transition: var(--transitionEaseIn);
  }

  &:hover {
    .icon {
      transform: scale(1.1);
    }
  }
}
