.imgwrap {
  width: 100%;
  height: 100%;

  .imgfit {
    height: 100%;
    object-fit: cover;
  }

  $imgfitOps: (center, top, bottom, right, left);

  @each $imgfitOps-key in $imgfitOps {
    .imgfit-#{$imgfitOps-key} {
      object-position: $imgfitOps-key;
    }
  }
}

.icon {
  height: 40px;
  width: 40px;

  &.medium {
    height: 50px;
    width: 50px;
  }
  &.large {
    height: 75px;
    width: 75px;
  }
  &.title {
    height: auto;
    width: 175px;
  }
}

.rounded {
  border-radius: 10px;
  overflow: hidden;
  > div {
    border-radius: inherit;
    overflow: inherit;
  }
}

.circular {
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    position: relative;
    content: "";
    display: block;
    padding-top: 100%;
  }
}

a {
  .icon {
    transform: scale(1);
    transition: var(--transitionEaseIn);
  }

  &:hover {
    .icon {
      transform: scale(1.1);
    }
  }
}
