.bjsHeadlineSmall {
  font-size: 20px;
  line-height: 25px;
}
.bjsHeadlineMedium {
  font-size: 24px;
  line-height: 29px;
}
.bjsHeadlineLarge {
  font-size: 30px;
  line-height: 45px;
}
.bjsHeadlineHuge {
  font-size: 40px;
  line-height: 45px;
}

.bjsSubcopySmall {
  font-size: 14px;
  line-height: 19px;
}
.bjsSubcopyMedium {
  font-size: 16px;
  line-height: 21px;
}
.bjsSubcopyLarge {
  font-size: 20px;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .bjsHeadlineSmall {
    font-size: 24px;
    line-height: 29px;
  }
  .bjsHeadlineMedium {
    font-size: 30px;
    line-height: 35px;
  }
  .bjsHeadlineLarge {
    font-size: 35px;
    line-height: 40px;
  }
  .bjsHeadlineHuge {
    font-size: 45px;
    line-height: 50px;
  }

  .bjsSubcopySmall {
    font-size: 16px;
    line-height: 21px;
  }
  .bjsSubcopyMedium {
    font-size: 20px;
    line-height: 25px;
  }
  .bjsSubcopyLarge {
    font-size: 25px;
    line-height: 30px;
  }
}

.bjsTextRed {
  color: var(--bjsRed);
}
.bjsTextGrayBlack {
  color: var(--bjsGrayBlack);
}
.bjsTextWhite {
  color: var(--bjsWhite);
}
